.Navbar{
    width: 100%;
    padding: 20px ;
    display: flex;
    justify-content: space-between ;
    position: fixed;
    font-size: 15px;
 
}
.Navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.Navbar-left img{
    width: 200px;
}

.Navbar-middle ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    list-style: none;
}

.Navbar-middle ul li{
    cursor: pointer;

}
.Navbar-right{
    display: flex;
    align-items: center;
    gap: 15px;


}
.Navbar-right img {
    width: 40px;
    height: 30px;
    cursor: pointer;

}

.profile{
    border-radius: 5px;
}