.Navbar{
    padding: 20px ;
    align-items: center;
    display: flex;
    justify-content: space-around;
     font-size: 15px;
 
}
.Navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.Navbar-left img{
    width: 150px;
    margin-top: -10px;
}

.Navbar-middle {
  display: flex;
  justify-self: center;
  text-align: center;
}

.Navbar-middle ul{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    font-size: 16px;
    margin-top: 23px;
    list-style: none;
}

.Navbar-middle ul li{ 
    cursor: pointer;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  
}

.search-container input {
  width: 0;
  opacity: 0;
  padding: 8px;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease;
  background: #222;
  color: white;
  font-size: 14px;
}

.search-container.active input {
  width: 250px;              /* expands left */
  opacity: 1;

}

.search-icon {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.Navbar-right {
  display: flex;
  gap: 15px;  
}

.favourites{
  background-color: #3F403F;
  border-radius: 20px;
  color: #ffffff;
}

