.Title{
    padding: 0;
}

.Img{
    margin-left: 400px;
    border-radius: 20px;
}

.img{
    border-radius: 20px;
    width: 75%;
}

.trend-section{
    padding: 90px;
    margin: 20px;
    font-size: 23px;
    margin-left: 200px;
}