.Title{
    margin-top: 50px;
    margin-bottom: 30px;
}

.TitleCard {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.TitleCard::-webkit-scrollbar{
    display: none;

}
.TitleCard img{
   width: 400px;
    border-radius: 5px;
    cursor: pointer;
}

.Title h2{

    margin-top: 40px;
    padding-bottom: 30px;
    padding-left: 3%;

}
.TitleCard .card{
    position: relative;
}

.TitleCard .card p{
    position: absolute;
    bottom: 10px;
    left: 10%;
    font-size: 17px;
}

.card img{
    padding-left: 8%;
    border-radius: 7px;
}